.checkBoxItem {
    position: relative;
}


.checkBoxItem-childs {
    margin: 0px 28px;
}

/* .expand-line, .checkbox-line {
    position: absolute;
    content: "";
    height: 100%;
    width: 0px;
    border: 1px dashed #CAD1D4;
    margin-left: 9px;
    z-index: 0;
    opacity: 0.70;
}

.checkbox-line {
    margin-left: 37px;
}
}