.checkbox {
    max-width: 320px;
}

/* Custom checkbox component */
.checkmark {
    position: absolute;
    height: 18px;
    width: 18px;
    left: 0px;
    border: 1px solid #CAD1D5;
    background-color: #FFF;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Hiding the browser's default checkbox */
.checkbox input {
    display: none;
}

/* Custom checkbox element using psuedo element */
.checkmark::after {
    content: "";
    position: absolute;
    display: none;
    left: 3px;
    top: 3px;
    width: 10px;
    height: 10px;
    background-color: #41C3A9;
    border-radius: 50%;
    transition: 0.15s;
}

/* Label of the parent checkbox component */
.checkbox-label  {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 28px;
    margin: 10px 10px;
    color: #7A7A7A;
}

/* Show the checkmark only when checked */
.checkbox input:checked ~ .checkmark::after {
    display: block;
}

/* Hover effect on custom checkbox */
.checkbox-label:hover .checkmark {
    background-color: #d8ffcb;
}

.checkbox input:indeterminate ~ .checkmark::after {
    display: block;
    left: 3px;
    top: 6px;
    width: 10px;
    height: 4px;
    border-radius: 0%;
}


/* CSS for showing dashed connection lines betweek checkboxes and expand button */
.checkbox-line {
    position: absolute;
    left: 0px;
}

.checkbox-line::before, .checkbox-line::after
{
    content: "";
    position: relative;
    width: 0px;
    border-left: 1px dashed #CAD1D4;
    left: 36px;
}

.checkbox-line::before {
    top: 0px;
    left: 37px;
}

.checkbox-line::after {
    top: 23px;
    left: 36px;
}

.checkBoxItem-childs > .checkBoxItem:first-of-type .listItem .checkbox .checkbox-line::before,
.checkBoxItem-childs > .checkBoxItem:last-of-type  .listItem .checkbox .checkbox-line::after,
.container .checkBoxItem > .listItem .checkbox .checkbox-line::before,
.container .checkBoxItem:last-of-type .listItem .checkbox .checkbox-line::after
{
    display: none;
}


.leaf-line {
    position: absolute;
    left: 0px;
}

.leaf-line::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 0px;
    border-top: 1px dashed #CAD1D4;
    left: 9px;
    top: 22px;
}