.checkBoxItem {
    position: relative;
}


.checkBoxItem-childs {
    margin: 0px 28px;
}

.vertical-line::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 0px;
    border-left: 1px dashed #CAD1D4;
    margin-left: -19px;
}
